In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [73]:
column_names= ['id', 'name', 'age', 'weight','m0006','m0612','m1218','f0006','f0612','f1218']
rate=pd.read_csv('C:/Users/kongy/Documents/Python Scripts/Datasets/patient_heart_rate.csv',names=column_names)

In [74]:
rate

      id            name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87

In [75]:
#Delete Missing Values
rate.dropna(how='all',axis=0,inplace=True)
rate

      id            name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
9    9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87

#Problems
1: reset index, no header
2: kgs and lbs, not same measurements
3: missing values

In [78]:
#Expand Name
rate[['First Name','Last Name']]=rate['name'].str.split(' ',expand=True)

In [79]:
#Drop Column 'Name'
rate.drop(columns=['name'],axis=1, inplace=True)

In [81]:
#lbs and kgs
lbs=rate['weight'].str.contains('lbs').fillna(False)
rate[lbs]

,id,age,weight,m0006,m0612,m1218,f0006,f0612,f1218,First Name,Last Name
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
9,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck

In [82]:
for i,lbs_row in rate[lbs].iterrows():
    weight = int(float(lbs_row['weight'][:-3])/2.2)
    rate[lbs].at[i,'weight']='{}kgs'.format(weight)

In [83]:
rate

,id,age,weight,m0006,m0612,m1218,f0006,f0612,f1218,First Name,Last Name
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
9,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
10,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck

In [84]:
#Find out if there is repeated rows
rate[rate.duplicated(['age','weight','First Name'])]

    id   age  weight m0006 m0612 m1218 f0006 f0612 f1218 First Name Last Name
9  9.0  52.0  189lbs     -     -     -    68    75    72       Huey    McDuck

In [85]:
#Drop repeated rows
rate.drop_duplicates(['First Name','Last Name'],inplace=True)
rate

,id,age,weight,m0006,m0612,m1218,f0006,f0612,f1218,First Name,Last Name
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
10,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck

In [86]:
# Delete Non-ASCII characters
rate['First Name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
rate['Last Name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
rate

,id,age,weight,m0006,m0612,m1218,f0006,f0612,f1218,First Name,Last Name
0,1.0,56.0,70kgs,72,69,71,-,-,-,Micky,Mous
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scpy,Doo
10,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck

In [88]:
sorted_columns=['id','age','weight','First Name','Last Name']
rate=pd.melt(rate,id_vars=sorted_columns,var_name='Sex_hour',value_name='Plus_rate')
rate

       id   age      weight First Name Last Name  Sex_hour Plus_rate
0     1.0  56.0       70kgs      Micky      Mous  variable     m0006
1     2.0  34.0   154.89lbs     Donald      Duck  variable     m0006
2     3.0  16.0         NaN       Mini     Mouse  variable     m0006
3     4.0   NaN       78kgs    Scrooge    McDuck  variable     m0006
4     5.0  54.0  198.658lbs       Pink   Panther  variable     m0006
5     6.0  52.0      189lbs       Huey    McDuck  variable     m0006
6     7.0  19.0       56kgs      Dewey    McDuck  variable     m0006
7     8.0  32.0       78kgs       Scpy       Doo  variable     m0006
8    10.0  12.0       45kgs      Louie    McDuck  variable     m0006
9     1.0  56.0       70kgs      Micky      Mous  variable     m0612
10    2.0  34.0   154.89lbs     Donald      Duck  variable     m0612
11    3.0  16.0         NaN       Mini     Mouse  variable     m0612
12    4.0   NaN       78kgs    Scrooge    McDuck  variable     m0612
13    5.0  54.0  198.658lbs       Pink   Panther  variable     m0612
14    6.0  52.0      189lbs       Huey    McDuck  variable     m0612
15    7.0  19.0       56kgs      Dewey    McDuck  variable     m0612
16    8.0  32.0       78kgs       Scpy       Doo  variable     m0612
17   10.0  12.0       45kgs      Louie    McDuck  variable     m0612
18    1.0  56.0       70kgs      Micky      Mous  variable     m1218
19    2.0  34.0   154.89lbs     Donald      Duck  variable     m1218
20    3.0  16.0         NaN       Mini     Mouse  variable     m1218
21    4.0   NaN       78kgs    Scrooge    McDuck  variable     m1218
22    5.0  54.0  198.658lbs       Pink   Panther  variable     m1218
23    6.0  52.0      189lbs       Huey    McDuck  variable     m1218
24    7.0  19.0       56kgs      Dewey    McDuck  variable     m1218
25    8.0  32.0       78kgs       Scpy       Doo  variable     m1218
26   10.0  12.0       45kgs      Louie    McDuck  variable     m1218
27    1.0  56.0       70kgs      Micky      Mous  variable     f0006
28    2.0  34.0   154.89lbs     Donald      Duck  variable     f0006
29    3.0  16.0         NaN       Mini     Mouse  variable     f0006
..    ...   ...         ...        ...       ...       ...       ...
78    7.0  19.0       56kgs      Dewey    McDuck     value         -
79    8.0  32.0       78kgs       Scpy       Doo     value        75
80   10.0  12.0       45kgs      Louie    McDuck     value         -
81    1.0  56.0       70kgs      Micky      Mous     value         -
82    2.0  34.0   154.89lbs     Donald      Duck     value        85
83    3.0  16.0         NaN       Mini     Mouse     value        65
84    4.0   NaN       78kgs    Scrooge    McDuck     value         -
85    5.0  54.0  198.658lbs       Pink   Panther     value        69
86    6.0  52.0      189lbs       Huey    McDuck     value        68
87    7.0  19.0       56kgs      Dewey    McDuck     value        71
88    8.0  32.0       78kgs       Scpy       Doo     value         -
89   10.0  12.0       45kgs      Louie    McDuck     value        92
90    1.0  56.0       70kgs      Micky      Mous     value         -
91    2.0  34.0   154.89lbs     Donald      Duck     value        84
92    3.0  16.0         NaN       Mini     Mouse     value        69
93    4.0   NaN       78kgs    Scrooge    McDuck     value         -
94    5.0  54.0  198.658lbs       Pink   Panther     value       NaN
95    6.0  52.0      189lbs       Huey    McDuck     value        75
96    7.0  19.0       56kgs      Dewey    McDuck     value        78
97    8.0  32.0       78kgs       Scpy       Doo     value         -
98   10.0  12.0       45kgs      Louie    McDuck     value        95
99    1.0  56.0       70kgs      Micky      Mous     value         -
100   2.0  34.0   154.89lbs     Donald      Duck     value        76
101   3.0  16.0         NaN       Mini     Mouse     value        72
102   4.0   NaN       78kgs    Scrooge    McDuck     value         -
103   5.0  54.0  198.658lbs       Pink   Panther     value        75
104   6.0  52.0      189lbs       Huey    McDuck     value        72
105   7.0  19.0       56kgs      Dewey    McDuck     value        75
106   8.0  32.0       78kgs       Scpy       Doo     value         -
107  10.0  12.0       45kgs      Louie    McDuck     value        87

[108 rows x 7 columns]